In [ ]:
import pandas as pd
import sqlite3 as sql
import os
import time

conn = sql.connect('Tweets6.db')

conn.execute(''' DROP TABLE tweets''')

In [ ]:
conn.execute('''CREATE TABLE tweets
               ('index','user_id','id','text','created_at','in_reply_to_status_id','in_reply_to_user_id')''')

In [ ]:
base_dir = '/Users/rong/Desktop/School Q4/DBL/project/Dataframes'
for file in os.listdir(base_dir):
    start_time = time.time()
    dataframe_path = os.path.join(base_dir, file)
    df_twitter = pd.read_csv(dataframe_path)[['user_id','id','text','created_at','in_reply_to_status_id','in_reply_to_user_id']]
    df_twitter.drop_duplicates(subset=['text']).to_sql('tweets',con = conn,if_exists = 'append')
    elapsed = time.time()-start_time
    print('Added frame in ' + str(elapsed) + ' seconds')